In [ ]:
import pandas as pd

In [2]:
actuals_raw = pd.read_csv("fivethirtyeight_actuals.csv")
actuals = actuals_raw.set_index("team") * 100
pick_pcts_raw = pd.read_csv("yahoo_picks.csv")
pick_pcts = pick_pcts_raw.set_index("Team")

In [30]:
class MarchCalculator():
    def __init__(self, actuals, pick_pcts):
        self.actuals = actuals
        self.pick_pcts = pick_pcts
    
    def round_value(self, team, round):
        win_prob = self.actuals.loc[team, str(round)]
        point_value = (2**(round - 2))
        pick_pct = self.pick_pcts.loc[team, str(round)]
        return (win_prob * (point_value / pick_pct))
    
    def cumulative_round_value(self, team, starting_round):
        rounds_to_eval = list(range(starting_round, 8))
        return sum([self.round_value(team, rd) for rd in rounds_to_eval])
    
    def evaluate_round(self, round):
        teams_to_eval = list(self.actuals.index)
        return pd.DataFrame(
            [[team, self.cumulative_round_value(team, round)] for team in teams_to_eval],
            columns=["team", "score"]
        ).set_index("team").sort_values("score", ascending=False)

In [31]:
mc = MarchCalculator(actuals, pick_pcts)
mc.evaluate_round(2)

                            score
team
Virginia Tech          316.902451
Iowa State             179.143979
Auburn                 177.189936
Maryland               173.971978
Texas Tech             171.896713
Cincinnati             171.719110
Purdue                 162.814207
Mississippi State      162.670209
Louisville             154.901858
Nevada                 143.258214
Wisconsin              138.018331
Kansas State           128.692849
Belmont                127.493403
Virginia               120.516996
Wofford                111.916191
Buffalo                110.459962
Virginia Commonwealth  110.046592
Gonzaga                109.073882
Florida State          101.173817
Arizona State           98.194954
Houston                 91.927195
Michigan State          89.731895
Kansas                  86.965684
Marquette               75.534352
Oklahoma                74.063493
Michigan                69.731669
Mississippi             68.918867
Utah State              66.796354
Iowa                    65.524232
New Mexico State        64.614114
...                           ...
Washington              58.141732
Ohio State              55.291871
Central Florida         53.056048
Saint Mary's (CA)       52.952604
Louisiana State         51.013496
Minnesota               49.698951
Florida                 49.467545
Vermont                 42.233518
North Carolina          37.895884
Duke                    35.079781
Baylor                  31.114200
Syracuse                30.864356
Northeastern            28.574192
Oregon                  26.373054
Murray State            21.782830
Liberty                 21.150058
Northern Kentucky       17.335113
Georgia State           14.631729
Montana                 13.761175
Old Dominion            13.592481
UC-Irvine               12.296959
Yale                    11.947032
Saint Louis             11.103507
Colgate                  6.616898
Bradley                  5.563876
Iona                     5.495355
Abilene Christian        4.979165
Gardner-Webb             4.160808
Prairie View             2.809664
North Dakota State       2.597723

[64 rows x 1 columns]